.recommendSubsListItem {
    margin: 50px 0;
    padding: 0;
    width: 100%;
}

.innerItem{
    position:relative;
    width: 100%;
    border-radius: 50%;
    /* aspect-ratio: 1/1; */
}

.recommendSubsListItem img {
    display: block;
    position: relative;

    margin: 10px auto;
    width: 75%;
    
    border-radius: 50%;
    box-shadow: 0 0 5px black;
}

.recommendSubsListItem:hover img {
    box-shadow: 0 0 15px black;
    
}

.innerImg {
    position: absolute;
    /* display: block; */
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}